.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
gainbridge.db
*.log
